.header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.header-wrap{
    justify-content: space-between;
    background-color: #fff;
}

.left{
    display: flex;
    justify-content: space-around;
    
    
    .logo{
        transform: translateY(2px);
    }
    
}

.menu-item{
    list-style: none;
    padding: 22px 0;
}

.menu-item-link{
    position: relative;
    color: #5a5a5a;
    padding: 4px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px dashed transparents;
    border-bottom: none;
    &:hover {
        color: #5a5a5a;
    }
    &::after{
        position: absolute;
        content: '';
        width: 0;
        height: 100%;
        bottom: -5px;
        left: auto;
        right: 0;
        border-bottom: 1px dashed #5a5a5a;
        transition: width .3s ease-in-out;
    }
    &:focus::after, &:hover::after{
        color: #fff;
        outline: none;
        width: 100%;
    }
}


.right{
    display: flex;
    justify-content: space-around;
    .search-input{
        min-width: 200px;
        font-size: 15px;
        border: none;
        outline: none;
        margin-left: 8px;
        padding-bottom: 4px;
    }
    .search-input:focus{
        border-bottom: 1px dashed #5a5a5a;
    }
    .icon{
        cursor: pointer;
    }
    .user-icon{
        position: relative;
        font-size: 20px;
        color: var(--primary);
        font-weight: 600;
        cursor: pointer;
    }

    .user-menu{
        display: none;
        margin-top: 10px;
        width: 150px;
        right: 0;
        transform: translateX(10%);
        position: absolute;
        border-radius: 4px;
        background-color: #fff;
        overflow: hidden;
        z-index: 1;
        .user-menu-item{
            list-style: none;
            padding: 10px 20px;
            .item-link{
                font-size: 15px;
                &:hover{
                    
                   color: var(--primary); 
                }
            }
            &:hover{
                
                background-color: #f8f8f8;
            }
        }
    
    }


    .user{
        position: relative;
        &:hover{
            .user-menu{
                display: block;
            }
            
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            right: -10px;
            border-style: solid;
            border-color: transparent;
            border-width: 10px 100px;
        }
    }



}













