.cart{
    padding: 80px 18.333%;
    .cart-table thead th{
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;
    
    }
}

.icon-money{
    margin-right: 4px;
}

.product-name{
    font-size: 15px;
}

.product-price{
    margin-left: 4px;
    font-size: 15px;
}

.product-quantity{
    padding: 5px 14px;
    &:hover{
        border-color: var(--primary);
    }
}

