
.loading{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: loading;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes loading {
    20%   {background-image: url("../../assets/imgs/loading-1.png");}
    35%  {background-image: url("../../assets/imgs/loading-2.png");}
    50%  {background-image: url("../../assets/imgs/loading-3.png");}
    65% {background-image: url("../../assets/imgs/loading-4.png");}
    80% {background-image: url("../../assets/imgs/loading-5.png");}
    90% {background-image: url("../../assets/imgs/loading-6.png");}
}